Repository gabe-frasz/c6r, changes with the labels that .github/labeler.yml gives for each.
All labels: @c6r/react, enhancement, test, ci, web, mobile, server, docs

.github/labeler.yml:

"@c6r/react":
  - packages/react/*
  - packages/react/**/*

enhancement:
  - src/*
  - src/**/*

test:
  - "**/*.spec.*"

ci:
  - .github/workflows/*

web:
  - apps/web/*
  - apps/web/**/*

mobile:
  - apps/mobile/*
  - apps/mobile/**/*

server:
  - apps/server/*
  - apps/server/**/*

docs:
  - apps/docs/*
  - apps/docs/**/*
  - .github/docs/*
  - .github/docs/**/*
  - README.md
  - CONTRIBUTING.md
  - apps/storybook/*
  - apps/storybook/**/*

RELEASING: Releasing 1 package(s)
  .changeset/chilled-hairs-doubt.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: @c6r/react

ci: run release on push only
  .github/workflows/release.yml
Labels: ci

docs: create README
  README.md
  packages/react/README.md
Labels: @c6r/react, docs

docs(react): add components props description
  packages/react/README.md
Labels: @c6r/react

refactor: use eslint-config-gabe
  .eslintrc.json
  apps/next-preview/.eslintrc.json
  apps/next-preview/package.json
  apps/next-preview/src/app/layout.tsx
  package.json
  packages/react/.eslintrc.json
  packages/react/package.json
  packages/react/src/components/data-display/Alert/Alert.tsx
  packages/react/src/components/data-display/Avatar/Avatar.tsx
  packages/react/src/components/data-display/Modal/Modal.tsx
  packages/react/src/components/data-display/Popover/Popover.tsx
  packages/react/src/components/data-display/Progress/Progress.tsx
  packages/react/src/components/data-display/Spinner/Spinner.tsx
  packages/react/src/components/data-display/Tooltip/Tooltip.tsx
  packages/react/src/components/form/Checkbox/Checkbox.tsx
  packages/react/src/components/form/Checkbox/CheckboxContext.ts
  packages/react/src/components/form/Input/Input.tsx
  packages/react/src/components/form/RadioGroup/RadioGroup.tsx
  packages/react/src/components/form/Select/Select.tsx
  packages/react/src/components/form/Switch/Switch.tsx
  packages/react/src/components/utils/Divider/Divider.tsx
  pnpm-lock.yaml
Labels: @c6r/react

refactor: remove eslint-config-custom
  .changeset/config.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
Labels: none

build: update dependencies
  packages/react/package.json
  pnpm-lock.yaml
Labels: @c6r/react

chore: add persistent to dev pipeline
  turbo.json
Labels: none

chore: add commit lint and script pre-push
  .commitlintrc.json
  .husky/commit-msg
  .husky/pre-push
  package.json
Labels: none

chore: run git pull after git checkout
  .husky/post-checkout
Labels: none

chore: check formatting instead of running prettier
  .husky/pre-push
Labels: none

build: update file
  package.json
Labels: none

refactor(preview): rename app
  apps/next-preview/.eslintrc.json
  apps/preview/.eslintrc.js
  apps/preview/next.config.mjs
  apps/preview/package.json
  apps/preview/postcss.config.cjs
  apps/preview/src/app/favicon.ico
  apps/preview/src/app/globals.css
  apps/preview/src/app/layout.tsx
  apps/preview/src/app/page.tsx
  apps/preview/src/components/ProgressDemo.tsx
  apps/preview/tailwind.config.cjs
  apps/preview/tsconfig.json
Labels: none

chore: update ignore files
  .eslintignore
  .gitignore
  .prettierignore
  .prettierrc
Labels: none

ci: add provenance on packages publishing
  .github/workflows/release.yml
  .npmrc
Labels: ci

style: format files
  README.md
  packages/react/README.md
Labels: @c6r/react, docs

build(react): change tsc to tsup
  packages/react/package.json
  packages/react/tsup.config.ts
Labels: @c6r/react

build: update dependencies
  pnpm-lock.yaml
Labels: none

chore: add lint.fix pipeline
  turbo.json
Labels: none

refactor(keyframes): update animations
  packages/keyframes/index.js
Labels: none

fix(keyframes): disable eslint
  packages/keyframes/index.js
Labels: none
