Repository gabe-frasz/c6r, changes with the labels that .github/labeler.yml gives for each.
All labels: @c6r/react, enhancement, test, ci, web, mobile, server, docs

.github/labeler.yml:

"@c6r/react":
  - packages/react/*
  - packages/react/**/*

enhancement:
  - src/*
  - src/**/*

test:
  - "**/*.spec.*"

ci:
  - .github/workflows/*

web:
  - apps/web/*
  - apps/web/**/*

mobile:
  - apps/mobile/*
  - apps/mobile/**/*

server:
  - apps/server/*
  - apps/server/**/*

docs:
  - apps/docs/*
  - apps/docs/**/*
  - .github/docs/*
  - .github/docs/**/*
  - README.md
  - CONTRIBUTING.md
  - apps/storybook/*
  - apps/storybook/**/*

Update release.yml
  .github/workflows/release.yml
Labels: ci

Update release.yml
  .github/workflows/release.yml
Labels: ci

Update release.yml
  .github/workflows/release.yml
Labels: ci

Update release.yml
  .github/workflows/release.yml
Labels: ci

docs(changeset): patch
  .changeset/five-papayas-laugh.md
Labels: none

fix: add use client directive to all components
  packages/react/CHANGELOG.md
  packages/react/src/components/data-display/Avatar/Avatar.tsx
  packages/react/src/components/form/Label/Label.tsx
  packages/react/src/components/typography/Heading/Heading.tsx
  packages/react/src/components/typography/Text/Text.tsx
Labels: @c6r/react

RELEASING: Releasing 1 package(s)
  .changeset/five-papayas-laugh.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: @c6r/react

docs(changeset): patch
  .changeset/sour-moons-fold.md
Labels: none

RELEASING: Releasing 1 package(s)
  .changeset/sour-moons-fold.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: @c6r/react

refactor: add "use client" directive
  packages/react/src/components/data-display/Spinner/Spinner.tsx
  packages/react/src/components/utils/AspectRatio/AspectRatio.tsx
  packages/react/src/components/utils/Divider/Divider.tsx
  packages/react/src/components/utils/Skeleton/Skeleton.tsx
  packages/react/src/components/utils/VisuallyHidden/VisuallyHidden.tsx
  packages/react/src/index.ts
Labels: @c6r/react

chore: lint test files
  .eslintignore
Labels: none

chore: update lock file
  pnpm-lock.yaml
Labels: none

remove unused app
  apps/docs/babel.config.js
  apps/docs/docs/intro.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/docs/tutorial-extras/img/localeDropdown.png
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/docusaurus.config.js
  apps/docs/package.json
  apps/docs/sidebars.js
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.module.css
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/markdown-page.md
  apps/docs/static/.nojekyll
  apps/docs/static/img/docusaurus-social-card.jpg
  apps/docs/static/img/docusaurus.png
  apps/docs/static/img/favicon.ico
  apps/docs/static/img/logo.svg
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  apps/docs/tsconfig.json
Labels: docs

chore: remove unused file
  .prettierignore
Labels: none

refactor: change vite for next to preview components
  apps/components-preview/index.html
  apps/components-preview/package.json
  apps/components-preview/public/vite.svg
  apps/components-preview/src/App.tsx
  apps/components-preview/src/main.tsx
  apps/components-preview/src/vite-env.d.ts
  apps/components-preview/tsconfig.json
  apps/components-preview/tsconfig.node.json
  apps/components-preview/vite.config.ts
  apps/next-preview/.eslintrc.json
  apps/next-preview/next.config.js
  apps/next-preview/package.json
  apps/next-preview/postcss.config.js
  apps/next-preview/src/app/favicon.ico
  apps/next-preview/src/app/globals.css
  apps/next-preview/src/app/layout.tsx
  apps/next-preview/src/app/page.tsx
  apps/next-preview/src/components/AlertDemo.tsx
  apps/next-preview/src/components/AvatarDemo.tsx
  apps/next-preview/src/components/InputDemo.tsx
  apps/next-preview/src/components/ModalDemo.tsx
  apps/next-preview/src/components/PopoverDemo.tsx
  apps/next-preview/src/components/ProgressDemo.tsx
  apps/next-preview/src/components/RadioGroupDemo.tsx
  apps/next-preview/src/components/SelectDemo.tsx
  apps/next-preview/src/components/SwitchDemo.tsx
  apps/next-preview/src/components/TooltipDemo.tsx
  apps/next-preview/tailwind.config.js
  apps/next-preview/tsconfig.json
Labels: none

docs(changeset): patch
  .changeset/chilly-forks-exercise.md
Labels: none

fix(react): export missing interfaces
  packages/react/src/components/form/Switch/Switch.tsx
  packages/react/src/components/utils/AspectRatio/AspectRatio.tsx
  packages/react/src/components/utils/Skeleton/Skeleton.tsx
  packages/react/src/components/utils/VisuallyHidden/VisuallyHidden.tsx
Labels: @c6r/react

docs(changeset): patch
  .changeset/few-ladybugs-shake.md
Labels: none

fix(react): remove isLoading prop from DOM
  packages/react/src/components/form/Button/Button.tsx
Labels: @c6r/react

chore: ignore .vscode inside next app
  .gitignore
Labels: none

build: use next recommended ts version
  .vscode/settings.json
Labels: none

chore: ignore next app and eslint package
  .changeset/config.json
Labels: none

fix: extend next eslint configs
  packages/eslint-config-custom/index.js
Labels: none

fix(react): use named exports instead of star
  packages/react/src/components/index.ts
Labels: @c6r/react

chore: update lock file
  pnpm-lock.yaml
Labels: none

RELEASING: Releasing 1 package(s)
  .changeset/chilly-forks-exercise.md
  .changeset/few-ladybugs-shake.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: @c6r/react

docs(changeset): minor
  .changeset/strong-seas-deny.md
Labels: none

refactor(react): major update
  .changeset/strong-seas-deny.md
  packages/react/src/components/data-display/Alert/Alert.tsx
  packages/react/src/components/data-display/Avatar/Avatar.tsx
  packages/react/src/components/data-display/Modal/Modal.tsx
  packages/react/src/components/data-display/Modal/ModalContext.ts
  packages/react/src/components/data-display/Popover/Popover.tsx
  packages/react/src/components/data-display/Progress/Progress.tsx
  packages/react/src/components/data-display/Spinner/Spinner.tsx
  packages/react/src/components/data-display/Tooltip/Tooltip.tsx
  packages/react/src/components/form/Button/Button.tsx
  packages/react/src/components/form/Input/Input.tsx
  packages/react/src/components/form/Label/Label.tsx
  packages/react/src/components/form/RadioGroup/RadioGroup.tsx
  packages/react/src/components/form/Select/Select.tsx
  packages/react/src/components/form/Switch/Switch.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/utils/Divider/Divider.tsx
  packages/react/src/components/utils/Skeleton/Skeleton.tsx
Labels: @c6r/react

refactor(react): remove components
  packages/react/src/components/utils/AspectRatio/AspectRatio.tsx
  packages/react/src/components/utils/AspectRatio/index.ts
  packages/react/src/components/utils/VisuallyHidden/VisuallyHidden.tsx
  packages/react/src/components/utils/VisuallyHidden/index.ts
Labels: @c6r/react

refactor(next-preview): update components with new changes
  apps/next-preview/src/app/page.tsx
  apps/next-preview/src/components/AlertDemo.tsx
  apps/next-preview/src/components/AvatarDemo.tsx
  apps/next-preview/src/components/InputDemo.tsx
  apps/next-preview/src/components/ModalDemo.tsx
  apps/next-preview/src/components/PopoverDemo.tsx
  apps/next-preview/src/components/ProgressDemo.tsx
  apps/next-preview/src/components/RadioGroupDemo.tsx
  apps/next-preview/src/components/SelectDemo.tsx
  apps/next-preview/src/components/SwitchDemo.tsx
  apps/next-preview/src/components/TooltipDemo.tsx
Labels: none

chore: add prettier ignore file
  .prettierignore
Labels: none

build: update dependencies
  packages/react/package.json
  pnpm-lock.yaml
Labels: @c6r/react

Update release.yml
  .github/workflows/release.yml
Labels: ci

Add files via upload
  c6r-white.png
Labels: none

docs: add README
  .github/docs/logo-white.png
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

refactor(preview): update app to match @c6r/react changes
  apps/next-preview/package.json
  apps/next-preview/src/app/page.tsx
  apps/next-preview/src/components/AlertDemo.tsx
  apps/next-preview/src/components/ModalDemo.tsx
  apps/next-preview/src/components/PopoverDemo.tsx
  apps/next-preview/src/components/TooltipDemo.tsx
  apps/next-preview/tailwind.config.js
Labels: none

docs(changeset): minor
  .changeset/chilled-hairs-doubt.md
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/data-display/Alert/Alert.tsx
  packages/react/src/components/data-display/Alert/AlertContext.ts
  packages/react/src/components/data-display/Avatar/Avatar.tsx
  packages/react/src/components/data-display/Modal/Modal.tsx
  packages/react/src/components/data-display/Modal/ModalContext.ts
  packages/react/src/components/data-display/Popover/Popover.tsx
  packages/react/src/components/data-display/Popover/PopoverContext.ts
  packages/react/src/components/data-display/Tooltip/Tooltip.tsx
  packages/react/src/components/data-display/Tooltip/TooltipContext.ts
  packages/react/src/components/form/Checkbox/Checkbox.styles.ts
  packages/react/src/components/form/Checkbox/Checkbox.tsx
  packages/react/src/components/form/Checkbox/CheckboxContext.ts
  packages/react/src/components/form/Select/Select.tsx
  packages/react/src/components/form/Switch/Switch.styles.ts
  packages/react/src/components/index.ts
Labels: @c6r/react

feat(keyframes): create package
  packages/keyframes/index.js
  packages/keyframes/package.json
Labels: none

chore: build all public packages inside its folder
  package.json
  pnpm-lock.yaml
Labels: none
