Repository gabe-frasz/c6r, changes with the labels that .github/labeler.yml gives for each.
All labels: @c6r/react, enhancement, test, ci, web, mobile, server, docs

fix(Modal): remove confliting styling
  packages/react/src/components/data-display/Modal/Modal.tsx
Labels: @c6r/react

build: update lock file
  pnpm-lock.yaml
Labels: none

chore: update node version
  package.json
Labels: none

chore: remove version
  apps/components-preview/package.json
Labels: none

refactor: change size variants
  packages/react/src/components/form/Switch/Switch.styles.ts
Labels: @c6r/react

fix(switch): fix context value type
  packages/react/src/components/form/Switch/SwitchContext.tsx
Labels: @c6r/react

feat: add "use client" directive
  packages/react/src/components/form/Switch/Switch.tsx
Labels: @c6r/react

docs(changeset): new components
  .changeset/young-worms-relate.md
Labels: none

update description
  .changeset/young-worms-relate.md
Labels: none

feat: create Divider
  packages/react/src/components/index.ts
  packages/react/src/components/utils/Divider/Divider.tsx
  packages/react/src/components/utils/Divider/index.ts
Labels: @c6r/react

feat: create Spinner
  packages/react/src/components/data-display/Spinner/Spinner.tsx
  packages/react/src/components/data-display/Spinner/index.ts
Labels: @c6r/react

feat: create Select
  packages/react/src/components/form/Select/Select.tsx
  packages/react/src/components/form/Select/index.ts
Labels: @c6r/react

refactor: remove headless ui transition
  packages/react/src/components/data-display/Popover/Popover.tsx
  packages/react/src/components/data-display/Popover/PopoverContext.tsx
Labels: @c6r/react

refactor: remove framer-motion
  packages/react/src/components/form/Button/animation-variants.ts
Labels: @c6r/react

refactor: change framer motion animation for tailwind
  packages/react/src/components/form/Button/Button.styles.ts
  packages/react/src/components/form/Button/Button.tsx
Labels: @c6r/react

style: remove return key word
  packages/react/src/components/utils/VisuallyHidden/VisuallyHidden.tsx
Labels: @c6r/react

build: add new radix ui components, remove framer-motion
  packages/react/package.json
Labels: @c6r/react

update file
  pnpm-lock.yaml
Labels: none

refactor: update components preview
  apps/components-preview/src/App.tsx
Labels: none

RELEASING: Releasing 2 package(s)
  .changeset/young-worms-relate.md
  apps/components-preview/CHANGELOG.md
  apps/components-preview/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: @c6r/react

style: format
  packages/react/CHANGELOG.md
Labels: @c6r/react

remove file
  apps/components-preview/CHANGELOG.md
Labels: none

chore: change files extensions to ts
  packages/react/src/components/data-display/Modal/ModalContext.ts
  packages/react/src/components/data-display/Progress/ProgressContext.ts
Labels: @c6r/react

docs(changeset): Minor
  .changeset/thick-adults-heal.md
Labels: none

feat: create Alert, RadioGroup and Tooltip components
  packages/react/src/components/data-display/Alert/Alert.tsx
  packages/react/src/components/data-display/Alert/AlertContext.ts
  packages/react/src/components/data-display/Alert/index.ts
  packages/react/src/components/data-display/Tooltip/Tooltip.tsx
  packages/react/src/components/data-display/Tooltip/TooltipContext.ts
  packages/react/src/components/data-display/Tooltip/index.ts
  packages/react/src/components/form/RadioGroup/RadioGroup.tsx
  packages/react/src/components/form/RadioGroup/index.ts
  packages/react/src/components/index.ts
Labels: @c6r/react

refactor: add enter/leave transition
  packages/react/src/components/data-display/Popover/Popover.tsx
  packages/react/src/components/data-display/Popover/PopoverContext.ts
Labels: @c6r/react

fix: add focus styling
  packages/react/src/components/form/Switch/Switch.styles.ts
  packages/react/src/components/form/Switch/SwitchContext.ts
Labels: @c6r/react

refactor: update components preview
  apps/components-preview/src/App.tsx
Labels: none

RELEASING: Releasing 2 package(s)
  .changeset/thick-adults-heal.md
  apps/components-preview/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: @c6r/react

ci: remove greetings workflow
  .github/workflows/greetings.yml
Labels: ci

ci: run workflow on pr
  .github/workflows/release.yml
Labels: ci

chore: remove file
  apps/components-preview/CHANGELOG.md
Labels: none

build: ignore components-preview
  .changeset/config.json
Labels: none

fix(tooltip): turn Provider into a jsx element
  packages/react/src/components/data-display/Tooltip/Tooltip.tsx
Labels: @c6r/react

build: add npm ignore
  packages/react/.npmignore
Labels: @c6r/react

build: change build output
  packages/react/package.json
  packages/react/tsconfig.json
Labels: @c6r/react

fix: add use client directive
  packages/react/src/components/data-display/Alert/Alert.tsx
Labels: @c6r/react

docs(changeset): minor
  .changeset/strange-mails-relate.md
Labels: none

fix: add new @c6r output to tailwind
  apps/components-preview/tailwind.config.cjs
  pnpm-lock.yaml
Labels: none

RELEASING: Releasing 1 package(s)
  .changeset/strange-mails-relate.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: @c6r/react

.github/labeler.yml:

"@c6r/react":
  - packages/react/*
  - packages/react/**/*

enhancement:
  - src/*
  - src/**/*

test:
  - "**/*.spec.*"

ci:
  - .github/workflows/*

web:
  - apps/web/*
  - apps/web/**/*

mobile:
  - apps/mobile/*
  - apps/mobile/**/*

server:
  - apps/server/*
  - apps/server/**/*

docs:
  - apps/docs/*
  - apps/docs/**/*
  - .github/docs/*
  - .github/docs/**/*
  - README.md
  - CONTRIBUTING.md
  - apps/storybook/*
  - apps/storybook/**/*
