Repository gabe-frasz/c6r, changes with the labels that .github/labeler.yml gives for each.
All labels: @c6r/react, enhancement, test, ci, web, mobile, server, docs

update file
  pnpm-lock.yaml
Labels: none

Create LICENSE
  LICENSE
Labels: none

refactor: remove README
  apps/docs/README.md
Labels: docs

refactor: remove node version from package.json
  apps/docs/package.json
Labels: docs

refactor: use react "use client" directive
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Label/Label.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Popover/Popover.tsx
  packages/react/src/components/Progress/Progress.tsx
Labels: @c6r/react

docs(changeset): use react "use client" directive
  .changeset/friendly-onions-breathe.md
Labels: none

RELEASING: Releasing 2 package(s)
  .changeset/friendly-onions-breathe.md
  apps/components-preview/CHANGELOG.md
  apps/components-preview/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: @c6r/react

refactor: add tailwind and all components
  apps/components-preview/index.html
  apps/components-preview/package.json
  apps/components-preview/postcss.config.cjs
  apps/components-preview/src/App.tsx
  apps/components-preview/src/globals.css
  apps/components-preview/src/main.tsx
  apps/components-preview/tailwind.config.cjs
  pnpm-lock.yaml
Labels: none

refactor: build only react package on pkg:publish
  package.json
Labels: none

style: format files
  .prettierignore
  apps/components-preview/vite.config.ts
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/pages/index.tsx
  apps/storybook/vite.config.ts
  packages/react/src/components/Button/Button.tsx
Labels: @c6r/react, docs

chore: update ignore files
  .eslintignore
  .gitignore
Labels: none

remove storybook docs
  .github/workflows/deploy-docs.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/manager.ts
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  apps/storybook/postcss.config.cjs
  apps/storybook/src/demos/ModalDemo.tsx
  apps/storybook/src/demos/PopoverDemo.tsx
  apps/storybook/src/globals.css
  apps/storybook/src/stories/Avatar.stories.tsx
  apps/storybook/src/stories/Button.stories.tsx
  apps/storybook/src/stories/Checkbox.stories.tsx
  apps/storybook/src/stories/Heading.stories.tsx
  apps/storybook/src/stories/Input.stories.tsx
  apps/storybook/src/stories/Label.stories.tsx
  apps/storybook/src/stories/Modal.stories.tsx
  apps/storybook/src/stories/Popover.stories.tsx
  apps/storybook/src/stories/Progress.stories.tsx
  apps/storybook/src/stories/Text.stories.tsx
  apps/storybook/tailwind.config.cjs
  apps/storybook/tsconfig.json
  apps/storybook/tsconfig.node.json
  apps/storybook/vite.config.ts
Labels: ci, docs

style: change order
  .changeset/config.json
Labels: none

refactor: update components preview
  apps/components-preview/src/App.tsx
  apps/components-preview/src/globals.css
  apps/components-preview/tailwind.config.cjs
Labels: none

chore: change script name
  .github/workflows/release.yml
  package.json
Labels: ci

chore: update config files
  .prettierrc
  pnpm-lock.yaml
  turbo.json
Labels: none

chore: update lib
  packages/tsconfig/react-library.json
Labels: none

chore: add new radix ui components
  packages/react/package.json
Labels: @c6r/react

chore: update include option
  packages/react/tsconfig.json
Labels: @c6r/react

refactor: separate components into folders
  packages/react/src/components/index.ts
  packages/react/src/index.ts
Labels: @c6r/react

feat: use composition strategy, allow custom fallback
  packages/react/src/components/Avatar/Avatar.tsx
  packages/react/src/components/data-display/Avatar/Avatar.tsx
  packages/react/src/components/data-display/Avatar/index.ts
Labels: @c6r/react

refactor: simplify component
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/form/Button/Button.styles.ts
  packages/react/src/components/form/Button/Button.tsx
  packages/react/src/components/form/Button/animation-variants.ts
  packages/react/src/components/form/Button/index.ts
Labels: @c6r/react

refactor: add theme variants
  packages/react/src/components/Checkbox/Checkbox.styles.ts
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/form/Checkbox/Checkbox.styles.ts
  packages/react/src/components/form/Checkbox/Checkbox.tsx
  packages/react/src/components/form/Checkbox/index.ts
Labels: @c6r/react

feat: mobile styling, use context api
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/data-display/Modal/Modal.tsx
  packages/react/src/components/data-display/Modal/ModalContext.tsx
  packages/react/src/components/data-display/Modal/index.ts
Labels: @c6r/react

feat: use context api
  packages/react/src/components/data-display/Popover/Popover.tsx
  packages/react/src/components/data-display/Popover/PopoverContext.tsx
  packages/react/src/components/data-display/Popover/index.ts
Labels: @c6r/react

feat: use context api, fix accessibility
  packages/react/src/components/Progress/Progress.tsx
  packages/react/src/components/data-display/Progress/Progress.tsx
  packages/react/src/components/data-display/Progress/ProgressContext.tsx
  packages/react/src/components/data-display/Progress/index.ts
Labels: @c6r/react

refactor: simplify component
  packages/react/src/components/form/Label/Label.styles.ts
  packages/react/src/components/form/Label/Label.tsx
  packages/react/src/components/form/Label/index.ts
Labels: @c6r/react

feat: create switch component
  packages/react/src/components/form/Switch/Switch.styles.ts
  packages/react/src/components/form/Switch/Switch.tsx
  packages/react/src/components/form/Switch/SwitchContext.tsx
  packages/react/src/components/form/Switch/index.ts
Labels: @c6r/react

refactor: simplify component
  packages/react/src/components/typography/Heading/Heading.styles.ts
  packages/react/src/components/typography/Heading/Heading.tsx
  packages/react/src/components/typography/Heading/index.ts
Labels: @c6r/react

refactor: simplify component
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/form/Input/Input.tsx
  packages/react/src/components/form/Input/index.ts
Labels: @c6r/react

refactor: simplify component
  packages/react/src/components/Text/Text.tsx
  packages/react/src/components/typography/Text/Text.styles.ts
  packages/react/src/components/typography/Text/Text.tsx
  packages/react/src/components/typography/Text/index.ts
Labels: @c6r/react

feat: create aspect ratio component
  packages/react/src/components/utils/AspectRatio/AspectRatio.tsx
  packages/react/src/components/utils/AspectRatio/index.ts
Labels: @c6r/react

feat: create skeleton component
  packages/react/src/components/utils/Skeleton/Skeleton.tsx
  packages/react/src/components/utils/Skeleton/index.ts
Labels: @c6r/react

feat: create visually hidden component
  packages/react/src/components/utils/VisuallyHidden/VisuallyHidden.tsx
  packages/react/src/components/utils/VisuallyHidden/index.ts
Labels: @c6r/react

docs(changeset): - [Avatar] - use composition - allow custom fallback - [Button, Checkbox] - add theme variants - [Modal] - add mobile styling - [Modal, Popover, Progress] - use context api
  .changeset/shy-doors-sip.md
Labels: none

docs(changeset): - **New components** - Switch - VisuallyHidden - AspectRatio - Skeleton - SkeletonText
  .changeset/shy-planets-roll.md
Labels: none

docs(changeset): Fix
  .changeset/grumpy-jars-fry.md
Labels: none

update description
  .changeset/grumpy-jars-fry.md
  .changeset/shy-doors-sip.md
Labels: none

RELEASING: Releasing 2 package(s)
  .changeset/grumpy-jars-fry.md
  .changeset/shy-doors-sip.md
  .changeset/shy-planets-roll.md
  apps/components-preview/CHANGELOG.md
  apps/components-preview/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: @c6r/react

Update .node-version
  .node-version
Labels: none

.github/labeler.yml:

"@c6r/react":
  - packages/react/*
  - packages/react/**/*

enhancement:
  - src/*
  - src/**/*

test:
  - "**/*.spec.*"

ci:
  - .github/workflows/*

web:
  - apps/web/*
  - apps/web/**/*

mobile:
  - apps/mobile/*
  - apps/mobile/**/*

server:
  - apps/server/*
  - apps/server/**/*

docs:
  - apps/docs/*
  - apps/docs/**/*
  - .github/docs/*
  - .github/docs/**/*
  - README.md
  - CONTRIBUTING.md
  - apps/storybook/*
  - apps/storybook/**/*
